{% extends "mess/base.html" %}
{% block content %}
<h1><font color="white"></font></h1>
<article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">About</small>
          </div>
          <h2><a class="article-title" href="#"> </a>Bhoopali Mess</h2>
          <p class="article-content">This Project aims to cater to the needs of MessManagement
                ,proper functionning and transparency.</p>
        </div>
      </article>
    </h2>
{% endblock content %}
