{% extends "mess/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="watermark">
    

    <h1 font color="white"><font color="white">This is Manager Home</font></h1>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'reg-staff' %}">Manage Staff</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2>{{ staffs.count }}</h2>
        <p class="article-content">Total Registered Staff</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'bills' %}">Manage Billls</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2><a class="article-title" href="{% url 'bills' %}">Bills</a></h2>
        <p class="article-content">Bills here</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'purchase' %}">Add Purchases</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2><a class="article-title" href="{% url 'purchase' %}">Purchases </a></h2>
        <p class="article-content">Put Purchase Transactions here</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'consumes' %}">Add Consumes</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2><a class="article-title" href="{% url 'consumes' %}">Consumptions</a></h2>
        <p class="article-content">Put Consumption Transactions here</p>
      </div>
    </article>

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'inventory' %}">View Inventory</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2><a class="article-title" href="{% url 'inventory' %}">Inventories</a></h2>
        <p class="article-content">Put Inventory Transactions here</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Expenses Summary</a>
          <small class="text-muted"><a href="{% url 'bills' %}">See bills for details view</a></small>
        </div>
        <h2>{{ expenses }}</h2>
        <p class="article-content">Total expenditure this semester</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'manager_feedback' %}">Manage Feedbacks</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2>{{ unresponded_feedbacks }}</h2>
        <p class="article-content">Total Unresponded Feedbacks</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'reg-supplier' %}">Manage Suppliers</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2><a class="article-title" href="{% url 'reg-supplier' %}">Suppliers</a></h2>
        <p class="article-content">{{ suppliers.count }}</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'reg-stu' %}">View Students</a>
          <small class="text-muted">Something here</small>
        </div>
        <h2>{{ students.count }}</a></h2>
        <p class="article-content">are currently resgistered</p>
      </div>
    </article>
{% endblock content %}
