{% extends "mess/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h4>  <a class="nav-item nav-link" href="{% url 'add_staff' %}"><button>Add Staff</button></a> </h4>
    <div class="content-section">
        <div class="media">
                <h2 class="account-heading"></h2>Registered Staff : {{ staffs.count }}  </h2>
        </div>
    </div>
    {% for staff in staffs %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                     <h2 class="account-heading">{{ staff.name }}</h2>
                        <p class="text-secondary">Staff ID&emsp;&emsp; &emsp; :-&emsp; {{ staff.staff_id }}<br>
                                        Designation &emsp;     :-&emsp; {{ staff.designation }}<br>
                                        Contact     &emsp;&emsp;&emsp;    :-&emsp; {{ staff.contact }}<br>
                                        Salary&emsp;&emsp;&emsp;&emsp;    :-&emsp; {{ staff.salary }}<br>
                                        Acc No       &emsp; &emsp;&emsp;   :-&emsp; {{ staff.acc_no }}<br>
                                        Bank Name&emsp;&emsp;:-&emsp; {{ staff.bank_name }}<br>
                                        IFSC Code   &emsp;&emsp;    :-&emsp; {{ staff.IFSC }}<br>
                                        Address      &emsp;&emsp;&emsp;    :-&emsp; {{ staff.address }}
        
                            <form method='POST'  >
                                {% csrf_token %}
                                <input type="hidden" name="staff_id" value="{{ staff.staff_id }}">
                                <input type="submit" value="DELETE" style="float: right;">
                        </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
